{% extends 'base.html' %}
{%block title%} Weather UI {%endblock title%}

{%block content%}

    <div class="container">
        
        <!-- Search Bar -->
        <div class="search-container">
            <!-- Mode Toggle -->
            <div class="mode-toggle">
                <div class="switch">
                    <i class="fas fa-moon"></i>
                </div>
                {% comment %} <span>Dark Mode</span> {% endcomment %}
            </div>
            <div class="search-bar">
                
                    
                  
                {% comment %} <i class="fas fa-search"></i>  {% endcomment %}
                {% comment %} <input type="text" placeholder="Search for your preferred city...">  {% endcomment %}
                <form method="post" class="mb-4" id="weatherForm" style="display: contents">
                    {% csrf_token %}
                   
                            {{ form.city }}
                      
                       
                            <button type="submit" class="btn btn-search" id='search-btn'><i class="fas fa-search" style="color: white;"></i></button>
                       
               
                </form>
                
            </div>
            {% comment %} <button class="location-btn">
                <i class="fas fa-location-dot"></i>
                Current Location
            </button> {% endcomment %}
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit"  class='location-btn'>Log out</button>
            </form>
               
            {% else %}
                <div class='buttons'>
                    <a href="{%url 'register' %}" class='location-btn'> SignUp</a>
                </div>
                <div class='buttons'>
                    <a href="{% url 'login' %}" class='location-btn'> Login</a>
                </div>
            {%endif%}
        </div>
        
        <!-- Main Weather Card -->
        <div class="weather-card">
            <div class="location-info">
                {% comment %} {% for weather in res  %}
                    <h2> {{weather}} </h2>
                {% endfor %}   {% endcomment %}
               
                <h2>{{res.name}}</h2>
                <div class="time">{{ current_weather.timezone  }}</div>
                <div class="date">Thursday, 31 Aug</div>
            </div>
            <div class='container weather-info'>

                <div class="weather-info">
                    <div class="temperature">
                        {{weather_data.main.temp}}&deg;C
                        <span class="feels-like">Feels like: {{res.main.feels_like}}&deg;C</span>
                       <span class='feels-like'> Weather: {{ weather_data.weather.0.description }}</span>
                    </div>
                    <div class="weather-details">
                        <div class="sun-info">
                            <div class="sunrise">
                                <i class="wi wi-sunrise"></i>
                                <span>06:37 AM</span>
                            </div>
                            <div class="sunset">
                                <i class="wi wi-sunset"></i>
                                <span>20:37 PM</span>
                            </div>
                        </div>
                        <div class="condition">
                            <i class="wi wi-day-sunny"></i>
                            <span>{{res.weather.main}}</span>
                        </div>
                    </div>
                </div>
    
                <div class="weather-metrics">
                    <div class="metric">
                        <i class="wi wi-humidity"></i>
                        <span>{{res.main.humidity}}</span>
                        <label>Humidity</label>
                    </div>
                    <div class="metric">
                        <i class="wi wi-strong-wind"></i>
                        <span>{{res.wind.speed}}km/h</span>
                        <label>Wind Speed</label>
                    </div>
                    <div class="metric">
                        <i class="wi wi-barometer"></i>
                        <span>{{res.main.pressure}}hPa</span>
                        <label>Pressure</label>
                    </div>
                    <div class="metric">
                        <i class="wi wi-day-sunny"></i>
                        <span>8</span>
                        <label>UV</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Leaflet Map  -->
        <div class="container mt-4">
            <div id="map"></div>
        </div>

        {% autoescape off %}
        
            <div class="container mt-4">
                {{plot}}
            </div>
        {% endautoescape %}

        <!-- Forecast Container -->
        <div class="forecast-container">
            <!-- 5 Days Forecast -->
            <div class="forecast-section">
                <div class="forecast-header">5 Days Forecast:</div>
                <div class="forecast-list">
                    <div class="forecast-item">
                        <i class="wi wi-day-cloudy"></i>
                        <span class="temp">20°C</span>
                        <span class="day">Friday, 1 Sep</span>
                    </div>
                    <div class="forecast-item">
                        <i class="wi wi-day-cloudy"></i>
                        <span class="temp">22°C</span>
                        <span class="day">Saturday, 2 Sep</span>
                    </div>
                    <div class="forecast-item">
                        <i class="wi wi-day-sunny"></i>
                        <span class="temp">27°C</span>
                        <span class="day">Sunday, 3 Sep</span>
                    </div>
                    <div class="forecast-item">
                        <i class="wi wi-day-rain"></i>
                        <span class="temp">18°C</span>
                        <span class="day">Monday, 4 Sep</span>
                    </div>
                    <div class="forecast-item">
                        <i class="wi wi-day-rain"></i>
                        <span class="temp">16°C</span>
                        <span class="day">Tuesday, 5 Sep</span>
                    </div>
                </div>
            </div>

            <!-- Hourly Forecast -->
            <div class="forecast-section">
                <div class="forecast-header">Hourly Forecast:</div>
                <div class="hourly-list">
                    <div class="hourly-item">
                        <div class="time">12:00</div>
                        <i class="wi wi-day-sunny"></i>
                        <div class="temp">26°C</div>
                        <div class="wind">3km/h</div>
                    </div>
                    <div class="hourly-item">
                        <div class="time">15:00</div>
                        <i class="wi wi-day-sunny"></i>
                        <div class="temp">27°C</div>
                        <div class="wind">2km/h</div>
                    </div>
                    <div class="hourly-item">
                        <div class="time">18:00</div>
                        <i class="wi wi-day-cloudy"></i>
                        <div class="temp">27°C</div>
                        <div class="wind">3km/h</div>
                    </div>
                    <div class="hourly-item">
                        <div class="time">21:00</div>
                        <i class="wi wi-night-cloudy"></i>
                        <div class="temp">25°C</div>
                        <div class="wind">3km/h</div>
                    </div>
                    <div class="hourly-item">
                        <div class="time">00:00</div>
                        <i class="wi wi-night-clear"></i>
                        <div class="temp">22°C</div>
                        <div class="wind">3km/h</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}
